@model Mindhaven.Models.UserActivityLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserActivityLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfCareActivity.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfCareActivity.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
