@model Mindhaven.Models.UserAchievement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAchievement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadgeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEarned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEarned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AchievementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
