@model Mindhaven.Models.TherapistFeedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TherapistFeedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedbackDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedbackDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeworkSubmission.TextResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkSubmission.TextResponse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeedbackId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
