

@model Mindhaven.Models.User

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UserID)

    <div class="form-group">
        @Html.LabelFor(model => model.PasswordHash, "New Password")
        @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
}
