@model IEnumerable<Mindhaven.Models.Resource>

@{
    ViewBag.Title = "Index";
    bool isAdmin = ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin;
}

<h2>Index</h2>
<a href="/Support/HelpNow" class="btn btn-danger btn-sm float-right">
    🆘 Need Help? Talk to Someone Now
</a>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @if (isAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ResourceID })@:
                    @Html.ActionLink("Details", "Details", new { id = item.ResourceID }) @:
                    @Html.ActionLink("Delete", "Delete", new { id = item.ResourceID })

                }
                else
                {@Html.ActionLink("Details", "Details", new { id = item.ResourceID }) @:


                @Html.ActionLink("Request Delete", "RequestDeletes", "DeleteRequests", new { itemType = "Resource", itemId = item.ResourceID }, new { @class = "btn btn-warning btn-sm" })}
            </td>
        </tr>
    }

</table>
