@model IEnumerable<Mindhaven.Models.MeditationDeleteRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meditation.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedByUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meditation.Title)
            </td>
            <td>
            <td>

                @if (item.Status == "Pending")
                {
                    @Html.Raw(
                        Html.ActionLink("Approve", "Approve", new { id = item.Id }).ToHtmlString()
                        + " | " +
                        Html.ActionLink("Reject", "Reject", new { id = item.Id }).ToHtmlString()
                    )
                }
                else
                {
                    @item.Status
                }
            </td>
        

   
            </tr>
    }
   
</table>
